### Enunciado

O uso de bicicletas como meio de transporte ganhou muita força nos últimos
anos, seja por questões ambientais, de saúde ou até mesmo de infraestrutura
de trânsito. Para incentivar seu uso, cidades em todo o mundo têm
implementado programas de compartilhamento de bicicleta. Nesses
sistemas, elas são retiradas e devolvidas em quiosques automatizados que
ficam espalhados por diversos pontos da cidade.

As plataformas de compartilhamento de bicicletas costumam coletar diversos
tipos de dados, como a duração da viagem, as localizações iniciais e finais dos
percursos, entre outros. Esses dados, em conjunto com informações sobre o
clima, o trânsito e o relevo, por exemplo, possibilitam uma análise mais
robusta do compartilhamento de bicicletas.

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("https://pycourse.s3.amazonaws.com/bike-sharing.csv")

In [3]:
# a. Qual o tamanho desse dataset?

display(df)
print(df.shape)

,datetime,rec_id,season,year,month,hour,is_holiday,weekday,is_workingday,weather_condition,temp,atemp,humidity,windspeed,casual,registered,total_count
0,2011-01-01,1,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13,16
1,2011-01-01,2,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32,40
2,2011-01-01,3,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27,32
3,2011-01-01,4,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10,13
4,2011-01-01,5,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,2012-12-31,17375,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,11,108,119
17375,2012-12-31,17376,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,8,81,89
17376,2012-12-31,17377,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,7,83,90
17377,2012-12-31,17378,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,13,48,61
17378,2012-12-31,17379,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,12,37,49

(17379, 17)

In [4]:
# b. Qual a média da coluna windspeed?

media_windspeed = df['windspeed'].mean()
print(f'A media da coluna windspeed é:{media_windspeed}')

A media da coluna windspeed é:0.19009760630646177

In [5]:
# c. Qual a média da coluna temp?

media_temp = df['temp'].mean()
print(f'A media da doluna temp. é: {media_temp}')

A media da doluna temp. é: 0.4969871684216583

In [6]:
# d. Quantos registros existem para o ano de 2011?

# Converter a coluna de datas para o tipo datetime
df['datetime'] = pd.to_datetime(df['datetime'])

# Filtrar as linhas para selecionar apenas as de 2011
df_2011 = df[(df['datetime'] >= '2011-01-01') & (df['datetime'] <= '2011-12-31')]

# Contar o número de linhas no novo dataframe
num_registros_2011 = len(df_2011)

# Exibir o número de registros de 2011
print(f'O número de registros de 2011 é: {num_registros_2011}')

O número de registros de 2011 é: 8645

In [7]:
# e. Quantos registros existem para o ano de 2012?

# Converter a coluna de datas para o tipo datetime
df['datetime'] = pd.to_datetime(df['datetime'])

# Filtrar as linhas para selecionar apenas as de 2011
df_2012 = df[(df['datetime'] >= '2012-01-01') & (df['datetime'] <= '2012-12-31')]

# Contar o número de linhas no novo dataframe
num_registros_2012 = len(df_2012)

# Exibir o número de registros de 2011
print(f'O número de registros de 2012 é: {num_registros_2012}')

O número de registros de 2012 é: 8734

In [8]:
# f. Quantas locações de bicicletas foram efetuadas em 2011?

df_locacao_2011 = df_2011[['datetime','total_count']]

display(df_locacao_2011)

soma_2011 = sum(df_locacao_2011['total_count'])
print(soma_2011)

       datetime  total_count
0    2011-01-01           16
1    2011-01-01           40
2    2011-01-01           32
3    2011-01-01           13
4    2011-01-01            1
...         ...          ...
8640 2011-12-31           92
8641 2011-12-31           71
8642 2011-12-31           52
8643 2011-12-31           38
8644 2011-12-31           31

[8645 rows x 2 columns]

1243103

In [9]:
# g. Quantas locações de bicicletas foram efetuadas em 2012?

df_locacao_2012 = df_2012[['datetime','total_count']]

display(df_locacao_2012)

soma_2012 = sum(df_locacao_2012['total_count'])
print(soma_2012)

        datetime  total_count
8645  2012-01-01           48
8646  2012-01-01           93
8647  2012-01-01           75
8648  2012-01-01           52
8649  2012-01-01            8
...          ...          ...
17374 2012-12-31          119
17375 2012-12-31           89
17376 2012-12-31           90
17377 2012-12-31           61
17378 2012-12-31           49

[8734 rows x 2 columns]

2049576

In [10]:
# h. Qual estação do ano contém a maior média de locações de bicicletas?

#season: estação do ano (1: inverno, 2: primavera, 3: verão, 4: outono).Relativo ao hemisfério norte;

locacao_estacao_df = df[['season','total_count']]
locacao_estacao_df = locacao_estacao_df.groupby('season').mean()

locacao_estacao_df = locacao_estacao_df.sort_values('total_count', ascending=False)

display(locacao_estacao_df)

        total_count
season
3        236.016237
2        208.344069
4        198.868856
1        111.114569

In [11]:
# i. Qual estação do ano contém a menor média de locações de bicicletas?

# respondido acima

In [12]:
# j. Qual horário do dia contém a maior média de locações de bicicletas?

# hour: hora do dia (0 a 23)

horario_locacao_df = df[['hour','total_count']]

horario_locacao_df = horario_locacao_df.groupby('hour').mean()
horario_locacao_df = horario_locacao_df.sort_values('total_count',ascending=False)[:1]

display(horario_locacao_df)

      total_count
hour
17     461.452055

In [13]:
# k. Qual horário do dia contém a menor média de locações de bicicletas?

horario_locacao_df = df[['hour','total_count']]

horario_locacao_df = horario_locacao_df.groupby('hour').mean()
horario_locacao_df = horario_locacao_df.sort_values('total_count',ascending=True)[:1]

display(horario_locacao_df)

      total_count
hour
4        6.352941

In [14]:
# l. Que dia da semana contém a maior média de locações de bicicletas?

# weekday: dia da semana (0: domingo, 1: segunda-feira, …, 6: sábado)

dia_locacao_df = df[['weekday','total_count']]

dia_locacao_df = dia_locacao_df.groupby('weekday').mean()
dia_locacao_df = dia_locacao_df.sort_values('total_count', ascending=False)

display(dia_locacao_df)

         total_count
weekday
4         196.436665
5         196.135907
2         191.238891
3         191.130505
6         190.209793
1         183.744655
0         177.468825

In [15]:
# m. Que dia da semana contém a menor média de locações de bicicletas?

# respondido acima

In [16]:
# n. Às quartas-feiras (weekday = 3), qual o horário do dia que contém a maior média de locações de bicicletas?

locacao_weekday_3 = df.loc[df['weekday']==3]

locacao_weekday_3 = locacao_weekday_3[['hour','total_count']]

locacao_weekday_3 = locacao_weekday_3.groupby('hour').mean()

locacao_weekday_3 = locacao_weekday_3.sort_values('total_count', ascending=False)[:1]

display(locacao_weekday_3)

      total_count
hour
17     513.144231

In [17]:
# Aos sábados (weekday = 6), qual o horário do dia que contém a maior média de locações de bicicletas?

locacao_weekday_6 = df.loc[df['weekday']==6]

locacao_weekday_6 = locacao_weekday_6[['hour','total_count']]

locacao_weekday_6 = locacao_weekday_6.groupby('hour').mean()

locacao_weekday_6 = locacao_weekday_6.sort_values('total_count', ascending=False)[:1]

display(locacao_weekday_6)

      total_count
hour
13     385.371429