In [11]:
import numpy as np
import pandas as pd

In [12]:
z = np.zeros((4,))
print('z:', z)

z: [0. 0. 0. 0.]

In [14]:
z = np.zeros((4, ))
z[1] = 1.
print("Z:", z)

Z: [0. 1. 0. 0.]

In [15]:
z = np.zeros((4, ))
z[1:] = 1.
print("Z:", z)

Z: [0. 1. 1. 1.]

In [20]:
z = np.ones((4,))
z[4] = 0.
#complete o código
print("Z:", z)

#z = [1.1.1.0.]

IndexError: index 4 is out of bounds for axis 0 with size 4

In [24]:
X =   np.array([2.] * 4).reshape(2, 2)
print("X:Nn", X)

#x:

#[[2. 2.]
#[2. 2.]]

X:Nn [[2. 2.]
 [2. 2.]]

In [27]:
x = np.array([[1,2],[3,4]])
y = x[0,:]
y[1]=10

print("X:\n", x)

X:
 [[ 1 10]
 [ 3  4]]

In [28]:
X = np.array([[1, 3], [11, 10]])
print(np.mean(X[X > np.pi]))

10.5

In [29]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog',
'cat', 'snake', 'cat', 'dog', 'dog'],
'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'priority': ['yes', 'yes', 'no', 'yes', 'no',
'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e','f','g','h','i','j']

pd.DataFrame(data=data, index=labels)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [41]:
df = pd.DataFrame(data=data, index=labels)
df.shape

df['animal'].value_counts()
df.describe()

df.iloc[:, 3]

df.sort_values(by='visits', ascending=False)

  animal  age  visits priority
b    cat  3.0       3      yes
d    dog  NaN       3      yes
f    cat  2.0       3       no
c  snake  0.5       2       no
e    dog  5.0       2       no
i    dog  7.0       2       no
a    cat  2.5       1      yes
g  snake  4.5       1       no
h    cat  NaN       1      yes
j    dog  3.0       1       no

In [43]:
# == CÓDIGO 10 == 
y_true = np.array([1., 2., 1.])
y_pred = np.array([1.1, 1.98, 1.05])

np.sqrt(((y_true-y_pred)**2).mean())

0.06557438524302006